.page {
    width: 100vw;
    height: 100vh;
    background: #EEA7A7;
}

.page .content {
    width: 90%;
    height: 100vh;
    margin: 0 auto;

    display: flex;    
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

.page .content textarea {
    width: 90%;
    height: 300px;
    border: none;
    border-radius: 8px;

    resize: none;
}

.page .content button {
    margin-top: 2%;
    height: 40px;
    width: 100px;
    border: none;

    border-radius: 8px;
    cursor: pointer;
    background: #b17b7b;

    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

.page .content button:hover {
    background: #6d4c4c;

}