.page-landing {
    background: #f2f2f2;
    width: 100vw;
    height: 100vh;
}

.content-wrapper {
    background: #EEA7A7;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.content-wrapper .logo {
    /* background: #6e6919; */
    grid-column: 1/2;
    grid-row: 1/2;    
    height: 20vh;   

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.content-wrapper .logo img {
    width: 200px;
    margin: 0 auto;
}

.page-landing .content-wrapper main p{
    width: 500px;
    font-size: 18px;
    padding: 15px;
    margin-top: 10%;
}

.page-landing .content-wrapper  main {
    grid-column: 1/2;

    grid-row: 2/3;        
    /* background: #140808; */
    height: 80vh;  
    color: #ffffff;  

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.content-buttons {
    grid-column: 2/3;

    grid-row: 1/3;        
    background: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-landing .content-wrapper .content-buttons .button {
    width: 200px;
    height: 60px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    font-size: 18px;
    font-weight: 700;

    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    background: #A6EDBA;

    color: #ffffff;
    text-decoration: none;
    transition: 500ms;
}

.page-landing .content-wrapper .content-buttons .button:hover {
    background: #70ca8a;
}

@media(max-width: 850px){
    .page-landing {
        height: 100vh;
    }

    .content-wrapper {
        height: 100vh; 
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .content-wrapper .logo {
        height: 15vh; 
    }
    
    .text{
        display: none;
    }

    .page-landing .content-wrapper main {
        width: 90%;
        height: 50vh;        
        margin: 0 auto;
    }
    .page-landing .content-wrapper main p{
        width: 80%;
        font-size: 14px;
        text-align: center;
        margin-top: 10%;
    }

   

    .page-landing .content-wrapper main h1{
        font-size: 24px;
        text-align: center;
    }

   
    .page-landing .content-wrapper .content-buttons{
        width: 100%;
        height: 20vh;        
        background: #EEA7A7;
    }
    .page-landing .content-wrapper .content-buttons .button {
        width: 150px;
        height: 60px;

        margin-top: 4%;
        margin-bottom: 1%;

        font-size: 15px;
        font-weight: 600;
    }

 
    
    
}


