.container {
    width: 100%;
    height: 100%;
    
}

.container .content {
    width: 90%;
    height: 100vh;
    background: #EEA7A7;
    margin: 0 auto;
    padding-top: 10px;
}

.container .content a {
    padding: 5px 5px;
    width: 30px;
    margin-left: 10px;
    border-radius: 5px;
    background: #855050;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.container .content strong, p {
    display: block;
    text-align: center;
}

.container .content strong {
    font-size: 24px;
    padding: 1.2rem;

}

.container .content p {
    color: rgba(0, 0, 0, 0.8);
    padding: 1.2rem;
}

.container .content fieldset {
    border: 1px solid #242323b0;
    width: 90%;
    height: 300px;
    font-size: 14px;


    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .content fieldset button {
    height: 100px;
    width: 250px;
    border: none;
    border-radius: 5px;

    background: #855050;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;

    height: 120px;
    margin-top: 10px;
}

.container .content fieldset button:hover {
    transition: 500ms;
    background: #613b3b;
}

.container .content fieldset .input-block {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}


@media (max-width: 850px){

    .container .content {
        width: 100vw;
        height: 100vh;
    }

    .container .content fieldset .input-block {
        width: 100%;
        display: flex;
        justify-content: space-between ;
        align-items: center;
    }

    .container .content fieldset .input-block input {
        padding: 5px;
        border: 1px solid black;
        border-radius:8px;
        background: #EEA7A7;
    }

    .container .content fieldset button {
        width: 70%;
        height: 120px;
        margin-top: 10px;
    }

    .container .content img {
        width: 130px;
        display: block;
        margin: 10px auto;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }

    

}