.container {
    width: 100%;
    height: 100%;
}

.container .content {
    width: 80%;
    height: 100vh;
    background: #eea7a74b;
    margin: 0 auto;
    padding-top: 10px;
}

.container .content a {
    padding: 5px 5px;
    width: 25px;
    margin-left: 10px;
    border-radius: 5px;

    background: #855050;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container .content strong, p {
    display: block;
    text-align: center;
}

.container .content strong {
    font-size: 24px;
    padding: 1.2rem;

}

.container .content p {
    color: rgba(0, 0, 0, 0.9);
    padding: 1.2rem;
}

.container .content fieldset {
    border: 1px solid #242323b0;
    width: 80%;
    height: 300px;
    font-size: 14px;

    color: rgba(10, 10, 10, 0.8);
    font-weight: 400;

    border-bottom: none;
    border-left: none;
    border-right: none;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .content fieldset button {
    height: 50px;
    width: 250px;
    border: none;
    border-radius: 5px;

    background: #855050;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;

    height: 120px;
    margin-top: 10px;
}

.container .content fieldset .input-block input {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius:8px;
    
}

.container .content fieldset button:hover {
    transition: 500ms;
    background: #613b3b;
}

.container .content fieldset .button-sum {
    margin-top: 2%;
}

.container .content fieldset .input-block {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.container .content img {
    width: 130px;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

@media (min-width: 1280px){
    .container .content fieldset {
        border: 1px solid rgba(10, 10, 10, 0.3);
        width: 60%;
        height: 300px;
        font-size: 16px;
    
        border-bottom: none;
        border-left: none;
        border-right: none;
    }
}


@media (max-width: 450px){

    .container .content {
        width: 100%;
        height: 100vh;
    }

    .container .content fieldset {
        height: 300px;
    }
    
    .container .content fieldset .input-block {
        width: 100%;
        display: flex;
        justify-content: space-between ;
        align-items: center;
    }

    .container .content fieldset button {
        width: 70%;
        height: 120px;
        margin-top: 10px;
    }

    .container .content img {
        width: 110px;
        margin: 5px auto;
        position: absolute;
       
        bottom: 0;
        right: 0;
        left: 0;
    }

    

}